@charset "UTF-8";
/**
 *
 * @authors zx.wang (zx.wang1991@gmail.com)
 * @date    2016-06-14 17:05:43
 * @version $Id$
 */
html{font-family:"Microsoft YaHei";}
.swatmain {
  width:100%;
  position:relative;
}
.swatmain>.logo{
  width:250px;
  font-size:24px;
  color:#00428e;
  position:absolute;
  left:50px;
  top:10px;
}
.tabWrap {
  position:relative;
}
.tabWrap ul{
  padding-left:280px;
}

.tabWrap .tabTitleWrap{
  border-bottom:1px solid #ddd;
}

 .tabTitleWrap{
  margin: 0;
 }
.people-tabs .tabTitleWrap:after,
.tabWrap .tabTitleWrap:after{
  content: "";
  display: block;
  clear: both;
}

.tabWrap .tabTitleWrap li{
  float: left;
  text-align: center;
  width: 100px;
  box-sizing: border-box;
  padding: 10px 8px;
}

.tabWrap .tabTitleWrap li.active{
  border-bottom: 1px solid #00428e;
}

.tabWrap .tabItemWrap{
  box-sizing:border-box;
  width:100%;
  padding:10px;
}

.tabItem{
  display: none;
  text-align: center;
}

.show{
  display: block;
}

.swat-item h2{
  height:40px;
  line-height:40px;
  padding-left:10px;
  color:#00428e;
  text-align:left;
  font-size:24px;
  border-bottom:1px solid #ddd;
}

.swat-tables {
  padding-top:10px;
}
.swat-tables h3 {
  font-size:18px;
  color:#fff;
  font-weight:bold;
  background-color:#555;
  text-align:left;
  height: 32px;
  line-height:32px;
  padding-left:10px;
}

.people-wrap{
  position:absolute;
  right:10px;
  top:6px;
  z-index:9;
  color:#fff;
}
.people-wrap .people-show {
  position:absolute;
  right:0;
  top:0;
  width:60px;
  height:30px;
  line-height:30px;
  text-align:center;
  background-color:#555;
  z-index:9;
}
.people-tabs {
  position:absolute;
  right:0;
  top:30px;
  width:250px;
  padding:20px 20px 50px 20px;
  background-color:#555;
  font-size:16px;
}

.people-tabs li.tabTitle {
  float:left;
  width:50%;
  text-align:center;
  padding: 10px 20px;
  font-size:24px;
}

.people-tabs .tabItem {
  padding-top:20px;
  padding-bottom:30px;
}
.people-tabs li.active,
.people-tabs .show {
  background-color:#333;
}

.people-tabs .tabItem li {
  padding:10px 0;
}

.people-tabs .tabItem li:hover {
  background-color:#999;
}
.people-tabs .tabItem li div {
  display:inline-block;
  vertical-align:top;
}
.people-tabs .tabItem li .pic {
  width:50px;
  height: 50px;
  border-radius:50px;
  border:1px solid #fff;
  margin-right:10px;
}
.people-tabs .tabItem li a {
  display: block;
  color:#fff;
  background-color:green;
  height: 26px;
  line-height:26px;
  padding:0 10px;
}

.tabchange{
  position:absolute;
  right:100px;
  top:10px;
  font-size:16px;
}
.tabchange a {display:inline-block;margin-right:15px;padding:0 4px;}
.tabchange a.cur{
  background-color:#337ab7;
  color:#fff;
}


