
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1464763736'); /* IE9*/
  src: url('iconfont.eot?t=1464763736#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1464763736') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1464763736') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1464763736#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-weixin:before { content: "\e600"; }
.icon-jiantouxiangyou:before { content: "\e601"; }
.icon-jiantouxiangzuo:before { content: "\e602"; }
.icon-icon:before { content: "\e603"; }
.icon-dianziyoujian:before { content: "\e610"; }
.icon-6:before { content: "\e604"; }
.icon-zan:before { content: "\e605"; }
.icon-xuanzhong:before { content: "\e619"; }
.icon-weibo:before { content: "\e606"; }
.icon-qqkongjian:before { content: "\e607"; }
.icon-nan:before { content: "\e615"; }
.icon-nv:before { content: "\e616"; }
.icon-person:before { content: "\e608"; }
.icon-chaxun:before { content: "\e609"; }
.icon-tengxun:before { content: "\e617"; }
.icon-qianyinhao:before { content: "\e613"; }
.icon-houyinhao:before { content: "\e614"; }
.icon-fenxiangweibo:before { content: "\e60a"; }
.icon-iconfont41:before { content: "\e60e"; }
.icon-iconfont42:before { content: "\e60f"; }
.icon-didian:before { content: "\e611"; }
.icon-weixin1:before { content: "\e60b"; }
.icon-dianhua:before { content: "\e612"; }
.icon-xin:before { content: "\e60c"; }
.icon-xiangxia:before { content: "\e60d"; }
.icon-close:before { content: "\e618"; }
